.card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border: 1px solid white;
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}

.title {
    margin: 0;
    font-size: 20px;
}

.description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}