.main {
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 168px);
}

.content {
  gap: 16px;
  padding: 16px 32px;
  width: 325px;
  min-height: 290px;
  background-color: rgba(131, 255, 152, 0.5);
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
}