.padt-8 {
    padding-top: 8px;
}
.padb-8 {
    padding-bottom: 8px;
}
.pad-12 {
    padding: 12px;
}
.padt-12 {
    padding-top: 12px;
}
.padb-12 {
    padding-bottom: 12px;
}
.padl-12 {
    padding-left: 12px;
}
.mgt-12 {
    margin-top: 12px;
}
.mgb-12 {
    margin-bottom: 12px;
}
.mgl-12 {
    margin-left: 12px;
}