$mg-12: 12px;
$custom-height: calc(100vh - 156px);
$regular-height: 100%;
.main {
  padding-top: 156px;
  width: 100%;
  min-height: $custom-height;
  max-height: $regular-height;
  margin: 0;
  background-image: url('../../images/background.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.tasks {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.button {
  margin-bottom: $mg-12;
}
.buttonSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items:end;
}
