.button {
  min-width: 156px;
  height: 64px;
  color: rgb(231, 231, 236);
  font-size: 24px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 2px 1px rgb(252, 251, 253);
  background-color: rgb(19, 18, 18);
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 2px rgb(252, 251, 253);
  }
  &:active {
    animation: pulse 0.5s ease-out;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
