.modal {
  width: max-content;
  height: min-content;
  padding: 32px;
  background-color: rgb(39, 39, 39);
  border: 2px solid black;
  border-radius: 25px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.xmark {
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
}
