.modal {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 972px;
}
.xmark {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
