.main {
  margin: 0;
  border-radius: 12px;
  height: fit-content;
  background-color: rgb(206, 206, 206);
}
.title {
  margin: 0 auto;
  color: rgb(0, 0, 0);
  padding-bottom: 12px;
  font-size: 24px;

}
.taskContainer {
  width: 100%;
  padding: 0;
}
